<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Main Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/UserController.js"></script>
    <script src="js/UserService.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/app.css"/>
    <link rel="icon" type="image/png" href="images/icon.png"/>
</head>
<body ng-app="demo">
<div class="container" ng-controller="UserController">
    <div ng-if="pendingDocs.length > 0">Upload Doc --
        <div>
            <select name="documentType" ng-model="documentType" ng-options="doc for doc in pendingDocs"></select>
                <input name="file" type="file" value="UploadDoc" ng-files="getTheFiles($files)"/>
            <input name="name" ng-model="username" type="hidden" value="shripati.bhat"/>
        </div>
        <input type="button" ng-click="uploadFiles()" name="Submit" value="Submit"/>
    </div>
    <div ng-if="pendingDocs.length == 0">
        
        You have uploaded all your docs. Congratulations.
    </div>
</div>
</body>
</html>
